#search{
    width: 66px;
    height: 20px;
    margin: 20px;
    text-align: center;
    font-weight: bold;
    color: rgb(59, 233, 100) ;
    background-color: white ;
    border: 3px solid rgb(59, 233, 100) ;
    border-radius: 25px ;
}

#add{
    width: 30px;
    height: 30px;
    margin: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: white ;
    background-color: yellowgreen;
    border-radius: 50%;
}

#create{
    width: 120px;
    height: 20px;
    margin: 20px;
    text-align: center;
    color: white;
    background-color: blue;
    border: 2px solid black ;
    box-shadow: 4px 4px black;
}