#tp{
    color: red;
    font-family: fantasy;
    text-align: center;
}

.container{
    width: 1000px;
    height: 900px;
    margin: 30px auto;
    display: flex;
    border: 5px solid black;
}

.subbox{
    height: 150px;
    width: 150px;
}