.row{
    display: flex;
}
.col{
    flex: 1;
}
.col-2{
    flex: 2;
}
.col-3{
    flex: 3;
}

.col-3, .col-2, .col{
    text-align: center;
    margin: 10px;
    color: azure;
    background-color:rgb(3, 88, 57);
    justify-content: space-between;
}