h1{
    font-weight: bold;
    text-align: center;
}

#container{
    align-self: center;
    margin: 50px;
    height: auto;
    width: auto;
    padding: 15px;
    border: 5px solid slategray;
}

.serie1{
    background-color: aqua;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.serie2{
    background-color: plum;
    padding: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.serie3{
    background-color: antiquewhite;
    padding: 10px 30px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.octocat {
    height: 200px;
}
